.addMovie{
    width: 98%;
}

.addMovie button{
    border: none;
    background-color: rgb(46, 67, 95);
    margin: 20px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 30pt;
    border-radius: 5px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.addMovie button:hover {
    background-color: rgb(255, 255, 255);
}

.addMovie button:hover h1{
    color: rgb(46, 67, 95);
}

.addMovie button:focus {
    outline: 0;
}


.addMovie h1{
    color: rgb(255, 255, 255);
    margin: 10px 0;
    text-align: center;
    font-size: 30pt;
}





/* A changer apres */

.modalo {
    border: none;
    background-color: rgb(46, 67, 95);
    margin: 20px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 13pt;
    border-radius: 5px;
    position: relative;
    top: 14%;
    left: 25.6%;
    padding: 20px;
    width: 700px;
    color: wheat;



}
form h1 {
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.deuxBouton{
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}
.deuxColumn{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
}
form input {
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding-left: 10px;
    margin-top: 10px;
  }
  form label {
    margin-top: 20px;
  }
  form input:focus {
    outline: 0;
  }
  form textarea {
    width: 85%;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding: 10px;
    margin-top: 10px;
  }
  form textarea:focus {
    outline: 0;
  }
  form button {
    width: 45%;
    color: rgb(46, 67, 95);
    background-color: wheat;
    height: 30px;
    margin: 20px 0 0 0;
  }